h1 {
  color: aliceblue;
}

* {
  margin: 0px;
  padding: 0px;
}

/* .App {
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  display: flex;
} */
.logo-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #1d1c1c;
  justify-content: center;
  align-items: center;
}

.inner-container {
  position: relative;
  left: 186px;
  display: flex;
}

.svg {
  object-fit: cover;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

.logo-g-full {
  position: relative;
  left: -180px;
  animation: fade-in 6s linear;
}

.logo-k-full {
  position: relative;
  left: -186px;
  animation: fade-in 6s linear;
}

.logo-k {
  position: relative;
  left: -180px;
}

.logo-sub {
  display: flex;
  margin-left: 5px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .logo-container {
    display: none;
  }
}
