.logo-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #1d1c1c;
  justify-content: center;
  align-items: center;
}

.inner-container {
  position: relative;
  left: 186px;
  display: flex;
}

.logo-g-full {
  position: relative;
  left: -180px;
  animation: 9s fade-in-logo linear;
}

.logo-k-full {
  position: relative;
  left: -186px;
  animation: 9s fade-in-logo linear;
}

.logo-k {
  position: relative;
  left: -180px;
}

.logo-sub {
  display: flex;
  margin-left: 5px;
  animation: 9s fade-in-logo ease;
}

@keyframes fade-in-logo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.svg {
  object-fit: cover;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: 14s draw ease;
}

@keyframes draw {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    stroke-dashoffset: 4500;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .logo-container,
  .inner-container {
    display: none;
  }
}
