.container.about-page {
  display: flex;
  align-items: center;
  .text-zone {
    padding-left: 200px;
    width: 40%;
    max-height: 90%;
    animation: fadeIn 1s 1.7s backwards;
  }
}

.eighty-percent {
  width: 80%;
}

.stage-cube-cont {
  position: absolute;
  left: 50%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
}

.cubespinner {
  top: -12vh;
  position: relative;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
  animation-delay: 2s;

  div {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
    z-index: 10;
  }

  .face1 {
    transform: translateZ(125px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(125px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(125px);
    color: #ec4d28;
  }
}

.showMe {
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

#tsparticles {
  position: absolute;
  height: 80vh;
  width: 100%;
}

.stage-cube-cont .showMe {
  min-height: 80vh;
  width: 100%;
  padding: 0px;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

@media only screen and (max-width: 1200px) and (min-width: 0px) {
  .stage-cube-cont {
    display: none;
  }
  .container.about-page {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    .text-zone {
      flex-flow: column wrap;
      padding-left: 10%;
      width: 85%;
    }
  }
}
