.work-page,
.progs-page {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 33vw;
  height: 34%;
  margin: 0px;
  overflow: hidden;
  &a {
    width: 100%;
  }
  & img {
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    opacity: 0.6;
    object-fit: cover;
  }
  & img:hover {
    cursor: pointer;
    transform: scale(1.25);
    transform-origin: 50% 50%;
    opacity: 1;
  }
}
.box.progs-box {
  width: 33vw;
  height: 34%;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  /*   60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  } */
  100% {
    transform: translateY(-0);
  }
}
